name: Build Modpack

on:
  push:
    branches: [ "master", "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Build Modpack
      run: python build_pack.py

    - name: Zip Artifacts
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        cd build
        zip -r ../client-pack.zip client/
        zip -r ../server-pack.zip server/
        cd ..

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          client-pack.zip
          server-pack.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Client Artifact
      uses: actions/upload-artifact@v4
      with:
        name: client-pack
        path: build/client/

    - name: Upload Server Artifact
      uses: actions/upload-artifact@v4
      with:
        name: server-pack
        path: build/server/
